<div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filters (Up to three attributes)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="attr">
                    <p>Selections
                        <div class="check-col-3">
                            <div>
                                <p>Chart
                                <select id="chart" class="border rounded">
                                    <option value="bar" selected="">Bar</option>
                                    <option value="line">Line</option>
                                    <option value="horizontalBar">Horizontal Bar</option>
                                    <option value="pie">Pie</option>
                                    <option value="doughnut">Doughnut</option>
                                    <option value="radar">Radar</option>
                                </select></p>
                            </div>
                        </div>
                    </p>    
                   <p>TCN General Profile
                    <div class="check-col-3" >   
                        <div>
                            <label>
                                <input type="checkbox" value="Age" name="Age">
                                Age
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Gender" name="Gender">
                                Gender
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="CountryOfOrigin" name="CountryOfOrigin">
                                Country of Origin
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Nationality" name="Nationality">
                                Nationality
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="EducationLevel" name="EducationLevel">
                                Education
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Language" name="Language">
                                Language
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="DigitalSkills" name="DigitalSkills">
                                Digital Skills
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="EmploymentStatus" name="EmploymentStatus">
                                Employment Status
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="MaritalStatus" name="MaritalStatus">
                                Marital Status
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Municipality" name="Municipality">
                                Municipality
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Classroom" name="Classroom">
                                Class
                            </label>
                        </div>
                    </div>
                </p>
                <p>Minigames
                    <div class="check-col-3" id="mini">  
                         <div>
                            <label>
                                <input type="checkbox" value="Minigame.minigameID" name="Minigame.minigameID">
                                Minigame
                            </label>
                        </div>
                         <div>
                            <label>
                                <input type="checkbox" value="Minigame.score" name="Minigame.score">
                                Score
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Minigame.time" name="Minigame.time">
                                Time
                            </label>
                        </div>
                    </div> 
                </p>
                 <p>VR Scenarios
                    <div class="check-col-3" id="vrsce">
                         <div>
                            <label>
                                <input type="checkbox" value="ApplicationForm.scenarioID" name="ApplicationForm.scenarioID">
                                Scenario
                            </label>
                        </div>  
                        <div>
                            <label>
                                <input type="checkbox" value="ApplicationForm.stage" name="ApplicationForm.stage">
                                Stage 
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="ApplicationForm.stagescore" name="ApplicationForm.stagescore">
                                Stage Score 
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="ApplicationForm.stagetime" name="ApplicationForm.stagetime">
                                Stage Time
                            </label>
                        </div>
                         <div>
                            <label>
                                <input type="checkbox" value="ApplicationForm.attempts" name="ApplicationForm.attempts">
                                Attempts
                            </label>
                        </div>
                     </div>   
                </p>
                 <p>Assessments
                    <div class="check-col-3" id="assess">  
                         <div>
                            <label>
                                <input type="checkbox" value="Assessment.LessonId" name="Assessment.LessonId">
                                Lesson
                            </label>
                        </div>
                         <div>
                            <label>
                                <input type="checkbox" value="Assessment.ListeningScore" name="Assessment.ListeningScore">
                                Listening Score
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Assessment.VocabularyScore" name="Assessment.VocabularyScore">
                                Vocabulary Score
                            </label>
                        </div>
                         <div>
                            <label>
                                <input type="checkbox" value="Assessment.WritingScore" name="Assessment.WritingScore">
                                Writing Score
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Assessment.ReadingScore" name="Assessment.ReadingScore">
                                Reading Score
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" value="Assessment.AssessmentScore" name="Assessment.AssessmentScore">
                                Assessment Score
                            </label>
                        </div>
                    </div> 
                </p>
                <hr>
                <div class="section-check">
                    
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancelFilter" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="searchFilter" class="btn btn-primary">Save</button>
                </div>
                </div>
            </div>
            </div>